.card-location{
  display: flex;
  flex-direction: column;
  width: 580px;
  background-color: #763fad;
  padding-bottom: 36px;
}
.card-location> h3{
  text-align: center;
}
.details-location{
  display: flex;
  justify-content: space-around;
  background-color: #d0a9dd;
  width: 100%;
  cursor: pointer;
}
.desc-location > h3, p, a{
  text-align: center;
  margin: 4px;
  text-decoration: none;
  color: #763fad;
  white-space: nowrap;  
  overflow: hidden;
  text-overflow: clip;
}
.residents-location{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 140px;
  color: aliceblue;
  width: 100%;
  overflow: hidden;
}

/* 
● #763fad
● #202329
● #d0a9dd
● #ff9800
● #ffffff */