<div class="footer">
  <div class="message">
    <h3>Page developed by</h3>
    <p>Ruben Dario Guzman Gonzalez</p>
  </div>
  <div class="social-media">
    <a href="https://github.com/rubendario981" target="_blank">
      <div>
        <img src="https://cdn.iconscout.com/icon/free/png-256/github-1521500-1288242.png" alt="github icon">
        <p>GitHub</p>
      </div>
    </a>
    <a href="https://wa.link/9h00js" target="_blank">
      <div>
        <img src="https://secure.webtoolhub.com/static/resources/icons/set111/f6480dc4.png" alt="whatsapp icon">
        <p>WhatsApp</p>
      </div>
    </a>
    <a href="https://www.linkedin.com/in/rdguzmango/" target="_blank">
      <div>
        <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/linkedin-3506278-2932736.png?f=webp&w=256" alt="Linkedin icon">
        <p>Linkedin</p>
      </div>
    </a>
  </div>
</div>
