.home{
  display: flex;
  justify-content: center;
}
.image-land>img{
  width: 300px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}
.title-home{
  position: absolute;
  margin-top: 290px;
  z-index: 10;
  color: #763fad;
  font-weight: 900;
  font-size: 60px;
  text-align: center;
}
.cards-home{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #202329;
  padding-top: 48px;  
}

@media only screen and (max-width: 768px) {
  .image-land>img{
    width: 200px;
  }
  .title-home{
    font-size: 30px;
    font-weight: 400;
    margin-top: 200px;
  }
  .cards-home{
    padding-top: 24px;  
  }
}