<div class="card" [routerLink]="['/detail-character/', id]">
  <div class="img-card">
    <img src={{image}} alt="character img">
  </div>
  <div class="description-card">
    <h3 class="name-in-card">{{name}}</h3>
    <p class="status-character">
      {{status === 'Alive' ? '🟢' : status === 'Dead' ? '🔴' : '🔘'}}
      {{status}} - {{speccy}}
    </p>
    <p class="descrip">Last known location:</p>
    <h3 class="descrip-result">{{origin}}</h3>
    <p class="descrip">First seen in:</p>
    <h3 class="descrip-result">{{nameEpisode}}</h3>
  </div>
</div>