<div class="card">
  <div class="img-card" [routerLink]="['/characters/details/', character.id]">
    <img src={{character.image}} alt="character img">
  </div>
  <div class="description-card">
    <div [routerLink]="['/characters/details/', character.id]">
      <h3 class="name-in-card">{{character.name}} {{character.id}}</h3>
      <p class="status-character">
        {{character.status === 'Alive' ? '🟢' : character.status === 'Dead' ? '🔴' : '🔘'}}
        {{character.status}} - {{character.species}}
      </p>
    </div>
    <div [routerLink]="['/locations/details/', id]">
      <p class="descrip">Last known location:</p>
      <h3 class="descrip-result">{{character.origin.name}}</h3>
    </div>
    <div [routerLink]="['/episodes/details/', id]">
      <p class="descrip">First seen in:</p>
      <h3 class="descrip-result">{{nameEpisode}}</h3>
    </div>
  </div>
</div>
